.about-text-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 60%;
}

.about-text-splitter {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 30vh;
}

.about-text-who {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
}