@import '../utilities/variables.scss';

.about-text-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: flex-end;
  width: 60%;
  padding: 2rem 0;

  p {
    color: $colors-white;
    font-size: 0.85rem;
    line-height: 1.4rem;
  }

  a {
    line-height: 1.4rem;
    text-decoration: none;
    color: $colors-red;
  }
}

.about-text-splitter {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: $colors-white;
  min-height: 30vh;

  .illustration {
    display: flex;
    right: 0;
    margin-bottom: 8rem;
    justify-content: flex-end;
    z-index: 0;

    img {
      align-self: center;
      position: absolute;
      max-width: 15rem;
      z-index: 0;
    }
  }

  .about-text-who {
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: flex-start;
    height: 100%;
    padding: 2rem 0;

    h1 {
      font-family: 'acumin-pro-wide', sans-serif;
      font-weight: 400;
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-text-block {
    width: 100%;
    padding: 4rem 0;
  }
}
