@import '../utilities/variables.scss';

form {
  display: flex;
  flex: 1;
  flex-direction: column;

  .contact-field,
  .contact-field-area {
    border: 1px solid $colors-border;
    font-family: $secondary-font;
    background-color: $colors-red;
    color: $colors-pink;
    border-radius: 5px;
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
    line-height: 2rem;
    padding-left: 1rem;
    margin: 0.3rem 0 1.5rem 0;
    width: 100%;
    font-size: 2rem;
  }

  .contact-field-area {
    min-height: 10vh;
  }
}

.contact-div {
  width: 100%;

  label {
    margin-bottom: 0rem;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $colors-pink;
    padding-left: 1rem;
  }
}

.contact-button {
  padding-top: 1rem;
  padding-right: 4rem;
  align-self: flex-end;

  button {
    color: $colors-white;
    border: 0;
    cursor: pointer;

    margin-top: 17px;
    margin-right: 27px;
    padding: 16px 28px 39px 36px;
    background-color: transparent;
    background-image: url('../static/images/button.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: KlikScript, sans-serif;
    font-size: 2rem;
    line-height: 1rem;
  }
}

.fb {
  display: flex;
  align-self: center;
}

.grecaptcha-badge {
  display: none;
}

.html {
  opacity: 0.8;
  color: $colors-pink;
  padding: 6rem 1rem 2rem 1rem;
  font-family: $primary-font;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

//fonts
@font-face {
  font-family: 'KlikScript';
  src: url('../static/fonts/KlikScript-Regular.woff') format('woff')
    url('../static/fonts/KlikScript-Regular.otf') format('opentype');
}
