.presentu-focus-u-decorator{
    display: flex;
    flex: 2;
}

.presentu-focus-items{
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}

.presentu-focus-column {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.presentu-focus-row {
    display: flex;
    flex-direction: row;
    flex: 1 0 51%;
}