@import '../utilities/variables.scss';

.footer {
  padding: 1.5rem 0 3rem 0;
  display: flex;
  width: 100%;

  div {
    flex: 1;
    padding: 2rem 0 2rem 0;
    max-width: 80%;

    h5 {
      color: $colors-black;
      font-size: 0.75rem;
    }

    a,
    p {
      display: block;
      color: $colors-black;
      opacity: 0.8;
      font-family: $system-font;
      margin: 0;
      text-decoration: none;
      font-size: 0.75rem;
    }

    address {
      font-style: normal;
    }
  }
}
