@import '../utilities/variables';

.giant-u-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 20rem;

    p {
        font-family: $secondary-font;
        font-size: 20rem;
        color: $colors-pink;
    }
}