@import '../utilities/variables.scss';

.logowall-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: auto;

    .logowall-item {
        width: auto;
        max-height: auto;
        flex: 1 32%;
        justify-self: center;
        text-align: center;
        margin-bottom: 2rem;

        img {
            max-width: 80%;
            width: auto;
            padding: 1rem;
        }
    }
}

.logowall-hero-text {
    text-align: center;
    padding: 1rem;
    margin: 1rem;

    h1 {
        color: $colors-azure;
        font-weight: 400;
    }
}