.presentu-teacherhighlight-teachers {
    display: flex;
    height: 100%;
}

.presentu-teacherhighlight-left,
.presentu-teacherhighlight-right {
    display: flex;
    align-self: center;
    flex: 1;
    flex-direction: column;
    padding: 0 1rem 0 2rem;
}

.teacher-name {
    color: tomato;
}