@import '../utilities/variables.scss';

.presentu-teacherhighlight-teachers {
    display: flex;
    min-height: auto;

    h1 {
        font-weight: 600;
        font-size: 2.5rem;
        color: $colors-red;
        font-family: $secondary-font;
    }

    p {
        color: $colors-gray;
    }
}

.presentu-teacherhighlight-left,
.presentu-teacherhighlight-right {
    display: flex;
    align-self: flex-start;
    flex: 1;
    flex-direction: column;
    padding: 6rem 0 6rem 0;
}

.presentu-teacherhighlight-left + .presentu-teacherhighlight-right {
    margin-left: 10%;
}