@import '../utilities/variables.scss';

.teachers {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  min-height: auto;

  h1 {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: $colors-red;
    font-family: $secondary-font;
  }

  p {
    color: $colors-gray;
  }
}

.highlight {
  display: flex;
  align-self: flex-start;
  max-width: 50%;
  flex: 1 45%;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 0 auto;

  .image {
    margin-bottom: -6rem;
    margin-left: 2rem;

    img {
      max-height: 10rem;
      transition: 1s ease-out;
    }
  }

  .body {
    z-index: 2;
    background-color: $colors-baby;
    background: linear-gradient(
      to bottom,
      rgba(197, 208, 210, 0),
      $colors-baby 15%
    );
    height: auto;
  }
}

.highlight:hover {
  img {
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(10px);
  }
}
