@import '../utilities/variables.scss';

.presentu-teacherhighlight-teachers {
  display: flex;
  flex-wrap: wrap;
  min-height: auto;

  h1 {
    font-weight: 600;
    font-size: 2.5rem;
    color: $colors-red;
    font-family: $secondary-font;
  }

  p {
    color: $colors-gray;
  }
}

.highlight {
  display: flex;
  align-self: flex-start;
  max-width: 50%;
  flex: 1 45%;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;

  .image {
    margin-bottom: -5rem;
    margin-left: 2rem;

    img {
      max-height: 10rem;
    }
  }

  .body {
    background-color: $colors-baby;
    background: linear-gradient(
      to bottom,
      rgba(197, 208, 210, 0),
      $colors-baby 10%
    );
    height: auto;
  }
}
