.presentu-teacherhighlight-teachers {
    display: flex;
    min-height: 60vh;
}

.presentu-teacherhighlight-left,
.presentu-teacherhighlight-right {
    display: flex;
    align-self: center;
    flex: 1;
    flex-direction: column;
    padding: 0 1rem 0 2rem;
}

.teacher-name {
    font-weight: 400;
}