.presentu-whowhatwhere-content {
    display: flex;
    flex-direction: row;
    flex: 4;
    min-height: 60vh;
}

.presentu-whowhatwhere-boxes {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    flex: 4;
}

.presentu-whowhatwhere-spacer{
    flex: 0.8;
}